html,body{
  padding: 0;
  margin:0;
  font-family: sans-serif;
  background-color: rgb(100, 100, 100);
}

.nameSchool::after{
    content: "Sekolah Indonesia";
    color: black;
    font-size: 24px;
    justify-content: center;
    display: flex;
  }

.nameSchool{
    text-align: center;
    text-decoration: solid;
    background-color: rgb(180, 180, 180);
}

.header {
  padding: auto;
  background-color: rgb(200, 200, 200); 
}

/*
  Dropdown button
*/

.dropbtns {
    background-color: #3498DB;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
.dropbtns:hover{
    background-color: #2980B9;
}

.dropbtns:focus{
    background-color: #2980B9;
}
  
.dropdowns {
    position: relative;
    display: inline-block;
}
  
.dropdowns-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdowns-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdowns a:hover {background-color: #ddd;}
  
.show {display: block;}